@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
*{
    margin:0;
    padding : 0 ;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #1a1a1a;
}

::-webkit-scrollbar-thumb {
    background: #fc932a;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #d67c2d;
}
html {
    scrollbar-width: thin;
    scrollbar-color: #fc932a #1a1a1a;
}

